<!DOCTYPE html>
<html>
  <head>
  <title>Add Places You've Been</title>
  </head>
  <body>
    <h1>Places You've Been</h1>
    <form action="/places" method="post">
    <label for="city">Add a city</label>
    <input id="city" name="city" type="text">
    <label for="duration">How long were you there?</label>
    <input id="duration" name="duration" type="text">
    <label for="companion">Who did you travel with?</label>
    <input id="companion" name="companion" type="text">
    <button type="submit">Submit</button>
    </form>
  </body>
</html>
