<h1>Details about the Places you've been</h1>
<h2>@Model.GetCity()</h2>
  <ul>
    <li>You traveled with @Model.GetCompanion()</li>
    <li>You were there for @Model.GetDuration()</li>
    <li>You had @Model.GetFun() fun</li>
  </ul>
<br>
<a href='/places/new'>Add another place</a>
<br>
<a href='/places'>View all places you've added>
